# This is Git's per-user configuration file.
[user]
    name = otron
    email =
[push]
    default = simple
[color]
    ui = true
[core]
    excludesfile = /Users/zen/.gitignore_global
    pager = less -FXRS -x4
    editor = vim
[alias]
    l = log --oneline -1
