# This is Git's per-user configuration file.
[user]
    name = otron
    email =
[push]
    default = simple
[color]
    ui = true
[core]
    excludesfile = /Users/odd/.gitignore_global
    pager = less -FXRS -x4
    editor = /usr/bin/vim
[alias]
    l = log --oneline -1
    logs = "!git --no-pager log --format='%Cred%h %Cgreen%ar %Creset%an: %s'"
    co = checkout
    s = "!git status | sed -n 2p; git status -s"
    mff = "merge --ff-only"
    b = "branch"
    ba = "branch --all"
    ca = "commit --amend"
